@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
}

body {
  background-color: hsl(0, 0%, 98%);
}
body.dark-mode {
  background-color: hsl(235, 21%, 11%);
}

.hero {
  height: 200px;
  background-image: url(./images/bg-mobile-light.jpg);
}

.dark-mode .hero {
  background-image: url(./images/bg-mobile-dark.jpg);
}

.header > h1 {
  color: white;
  padding-left: 30px;
  padding-top: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.input-container {
  position: relative; /* positions circle to left of initial todo input */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-container i {
  position: absolute;
  left: 45px;
  top: 76%;
  transform: translateY(-50%);
  color: #d8d8d8;
}

/* .lightDarkToggle {
  display: flex;
  justify-content: right;
  align-items: center;
  cursor: pointer;
} */

.sun-icon {
  display: block;
}

.moon-icon {
  display: none;
}

.dark-mode .moon-icon {
  display: block;
}

.dark-mode .sun-icon {
  display: none;
}

#todo {
  /* display: flex;
  justify-content: space-between; */
  /* align-items: flex-start; */
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 40px;
  min-width: 200px;
  /* width: 70%; */
  max-width: 500px;
  background-color: white;
  border-radius: 5px;
  text-indent: 40px;
}
.dark-mode #todo {
  background-color: hsl(235, 24%, 19%);
}

#todoList {
  /* margin-left: 30px; */
  /* margin-bottom: 30px; */
  /* height: 40px;
  width: 300px; */
  /* background-color: white; */
  border-radius: 5px;
  /* text-indent: 10px; */
}

#error {
  margin-top: 10px;
  color: white;
  font-size: 10px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  height: 40px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0);
  padding: 12px;
  list-style: none;
  font-weight: 400;
  font-size: 12px;
  text-indent: 2px;
  transform: translateY(-50%);
}

.dark-mode #todoList {
  background-color: hsl(235, 21%, 11%);
  border-radius: 0px;
}
.dark-mode .list {
  background-color: hsl(235, 24%, 19%);
  color: grey;
}

.list-content {
  display: flex;
  align-items: flex-start;
}

.list i {
  color: #d8d8d8;
  /* margin-left: -78px; */
  font-size: 16px;
}

.dark-mode .list i {
  color: hsl(234, 11%, 52%);
}

/* ///ADD DIV TO CIRCLE AND USE FLEX  */

.done {
  text-decoration: line-through;
  color: grey;
}

.done > i {
  content: url("images/icon-check.svg");
  /* display: inline-block; */
  width: 16px;
  height: 16px;
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-size: cover;
  border-radius: 8px;
  /* margin-left: -38px; */
}

.delete-btn {
  /* display: flex;
  justify-content: flex-end; */
  cursor: pointer;
  color: #d8d8d8;
  border: none;
  background-color: white;
}

.dark-mode .delete-btn {
  background-color: hsl(235, 24%, 19%);
  color: grey;
}

.domUpdates {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  /* margin-right: 30px;
  margin-left: 30px; */
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 5px;
  height: 35px;
  color: grey;
  font-size: 11px;
}

.allActiveCompleted {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 35px;
  max-width: 500px;
  padding: 5px;
}

.dark-mode .domUpdates,
.dark-mode .allActiveCompleted {
  background-color: hsl(235, 24%, 19%);
}

.allActiveCompleted > button {
  background: none;
  border: none;
  cursor: pointer;
}

.dark-mode .allActiveCompleted > button {
  color: grey;
}

.domUpdates > button {
  background: none;
  border: none;
  cursor: pointer;
  color: grey;
  font-size: 11px;
}

.allActiveCompleted > button:focus {
  color: blue;
}

.container {
  background-color: hsl(0, 0%, 98%);
}
.dark-mode .container {
  background-color: hsl(235, 21%, 11%);
}

.dragAndDrop p {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: grey;
  margin-top: 30px;
  font-size: 11px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 50px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.dark-mode .attribution {
  color: gray;
}

/* Styles for screens larger than 375px */
@media (min-width: 376px) {
  .hero {
    background-image: url(./images/bg-desktop-light.jpg);
  }

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header > h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .input-container i {
    display: none;
    /* position: absolute;
    left: 105px;
    top: 76%; */
  }

  #todo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    width: 80%;
    max-width: 500px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }

  .domUpdates {
    max-width: 500px;
  }
}
